<h1> Items</h1>
<div class="row cart_borders">
  <div class="col-md-8">
  </div>
  <strong class="col-md-2">
    Quantity
  </strong>
  <strong class="col-md-2">
    Individual Price
  </strong>
</div>
<% current_user.orders.pending_payment.first.order_items.each do |item| %>
  <div class="row cart_borders">
    <div class="col-md-8">
      <div class="prodimg">
        <%= image_tag(item.product_variant.pictures.first.picture.thumb) %>
      </div>
      <strong class="lead">
        <%= item.product_variant.product.name %>
      </strong>
      <div>
        <%= item.product_variant.variation %>
      </div>
    </div>
    <div class="col-md-2">
      <%= item.quantity %>
    </div>
    <div class='col-md-2 price'>
      <%= item.individual_price.format %>
    </div>
  </div>
<%end %>
