<h1> Items Pending Shipping </h1>
<% pending_shipment = Order.pending_shipment %>
<div class="row cart_borders">
  <div class="col-md-4">
  </div>
  <strong class="col-md-2">
    Customer Name
  </strong>
  <strong class="col-md-2">
    Quantity
  </strong>
  <strong class="col-md-2">
    Individual Price
  </strong>
  <strong class="col-md-2">
    Shipping Label
  </strong>
</div>
<% pending_shipment.each do |order| %>
  <% order.order_items.each do |item| %>
    <div class="row cart_borders">
      <div class="col-md-4">
        <div class="prodimg">
          <%= image_tag(item.product_variant.pictures.first.picture.thumb) %>
        </div>
        <strong class="lead">
          <%= item.product_variant.product.name %>
        </strong>
        <div>
          <%= item.product_variant.variation %>
        </div>
      </div>
      <div class="col-md-2">
        <%= order.shipping_addresses.first.first_name %>
        <%= order.shipping_addresses.first.last_name %>
      </div>
      <div class="col-md-2">
        <%= item.quantity %>
      </div>
      <div class='col-md-2 price'>
        <%= item.individual_price.format %>
      </div>
      <div class='col-md-2'>
        <% if item.shipping_transaction_id %>
          <h2><a href="<%=item.get_shipment_transaction_object[:label_url] %>"><button type="button" class="btn btn-default btn-sm">
          <span class="glyphicon glyphicon-print"></span> Print Shipping Label
          </button></a></h2>
        <% else %>
          <%= button_to "create_shipping_label",
            params: {id: item.id },
            :class=>"btn btn-default btn-icon glyphicons glyphicon-envelope" do %>
              Create Shipping Label $<%= item.get_shipment_rate_object[:amount] %>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
